* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff6c6;
    min-height: 100vh;
    align-items: center;
}

.header {
    min-height: 10vh;
    display: flex;
}

.divTop {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12vh;
    background-color: #e0b349;
    border-radius: 20px;
    border: 3px groove #a88d4c;
    padding: 0px 1%;
    align-items: center;
}

.main {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-grow: 1;
}

.navbar {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 8%;
    height: 60px;
    display: flex;
    vertical-align: middle;
    object-fit: cover;
}

.title {
    width: 100%;
    text-align: center;
    color: #6a690a;
    text-decoration: solid;
}

.link {
    display: flex;
    width: 15%;
    font-size: 0.8rem;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #a48804;
    text-decoration: none;
    background-color: #fffb14;
    border: 2px solid #a88d4c;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px #34352a;
}

.link:hover {
    background-color: #a48804;
    color: #fffb14;
    box-shadow: 5px 5px 5px 0px #d5e65a;
}

.link:active {
    background-color: #272708;
}

li {
    align-items: center;

}

.t2 {
    color: #b2ac00;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
}

.sublist {
    width: 95%;
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #a88d4c;
    width: 100%;
    height: 25vh;
    align-items: center;
}

.tip {
    display: flex;
}

.caption {
    gap: 3vh;
}

.global {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.imados {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: space-between;
}

.art1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.bannerImg {
    display: flex;
    width: 100%;
    height: 190px;
    border-radius: 20px;
}

.img2 {
    display: flex;
    width: 35%;
    height: 110px;
    vertical-align: bottom;
    border-radius: 20px;
}

.img3 {
    width: 30%;
    height: 17vh;
    border-radius: 20px;
}

.img4 {
    width: 50%;
    height: 50vh;
    border-radius: 20px;
    align-self: center;
    border-radius: 20px;
}

.img5 {
    width: 30%;
    height: 23vh;
    border-radius: 20px;
}

.p1 {
    width: 60%;
    display: flex;
    text-align: justify;
    font-size: 1em;
    display: inline-block;
}

.p2 {
    font-size: 1em;
    width: 50%;
    display: inline-block;
    align-self: center;
}

.p3 {
    display: block;
    text-align: center;
}

.uLine {
    text-decoration: underline;
    font-size: 1.5em;
    text-align: center;
    display: block;
    width: 100%;
}

.info {
    display: inline-block;
    text-align: center;
}
.lides{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    list-style-image: url(../images/bineta.png);
}

.liorg {
    display: flex;
    flex-direction: column;
}

.subtable1 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.subtable2{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table {
    width: 100%;
    height: 40vh;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: #ceca56;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    gap: 2%;
    background-color: #6a690a;
}

tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    gap: 4%;
}

.map {
    width: 45%;
    height: 60vh;
    border: none
}


.contact {
    display: flex;
    justify-content: space-evenly;
}

.mapraff {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 69vh;

}
.form {
    display: flex;
    width: 35%;
    height: 68vh;
    font-size: 0.8em;
}
.fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 68vh;
}

.label {
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

.label2 {
    width: 100%;
    height: 25vh;
}

.footer {
    min-height: 10vh;
}

.divBottom {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    background-color: #f8d229;
    border-radius: 20px;
    border: 5px groove #a88d4c;
    padding: 0px 40px;
}

.textFooter {
    width: 62%;
    display: flex;
    font-size: 1em;
    color: black;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
}

.mindHub {
    width: 10%;
    height: 40px;
    vertical-align: middle;
}

@media only screen and (max-width: 1024px){
    .navbar {
        width: 56%;
        font-size: 12px;
        gap: 2px;
    }

    .img4 {
        width: 50%;
        height: 46vh;
    }
}

@media only screen and (max-width: 768px){
    .link {
        width: 56%;
        font-size: 10px;
        gap: 2px;
    }

    .list {
        width: 120%;
    }
}

@media only screen and (max-width: 768px){
    .list {
        width: 140%;
    }
    .mapraff {
        gap: 30px;
    }
}


@media only screen and (max-width: 551px){
    .divTop {
        justify-content: space-between;
        height: 28vh;
    }
}

@media only screen and (max-width: 551px){
    .link {
        width: 50%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 551px){
    .logo {
        width: 20%;
    }
}
    @media only screen and (max-width: 551px){
    .img3 {
        width: 65%;
        height: 28vh;
    }
}

@media only screen and (max-width: 551px){
    .bannerIng {
        width: 95%;
    }
}


@media only screen and (max-width: 551px){
    .navbar {
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 70%;
        height: 50px;
    }
}

@media only screen and (max-width: 551px){
    .textFooter {
        font-size: 0.7em;
        width: 68%; 
    }
}

@media only screen and (max-width: 551px){
    .mindHub {
        width: 20%;
    }
}

@media only screen and (max-width: 551px){
    .art1 {
        padding: 10px 0;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 551px){
    .button {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 551px){
    .imados {
        width: 100%;
        height: 41vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .p2 {
        width: 90%;
    }
}

@media only screen and (max-width: 551px){
    .contact {
        flex-direction: column;
        text-align: center;
    }

    .img4 {
        width: 100%;
    }

@media only screen and (max-width: 551px){
    .subtable2 {
        width: 95%;
        height: 60vh;
    }
}

@media only screen and (max-width: 551px){
    .list {
        flex-direction: column;
        width: 95%;
        height: 80vh;
    }
    .img5 {
        width: 50%;
    }  
}

@media only screen and (max-width: 551px){
    .mapraff {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 160vh;
    }
    .div-form {
        padding-left: 40px;
    }

    .map {
        width: 95%;
        height: 60vh;
    }

    .label {
        height: 12vh;
    }
    .fieldset {
        height: 80vh;
}
@media only screen and (max-width: 551px){
    .sublist {
        width: 100%;
        height: 155vh;
    }

    .main {
        width: 100%;
    }

    .img5 {
        width: 80%;
        height: 40vh;
    }

    .liorg {
        width: 50%;
    }
}